<% if cart.total_items > 0 %>
  <div class="cart-title">Your cart</div>

  <table border="1" cellpadding="3" cellspacing="0">
    <tr>
      <th colspan="2">Количество</th>
      <th>Название</th>
      <th>Цена</th>
    </tr>
    <%= render :partial => 'cart_item', :collection => cart.items  %>

    <tr>
      <td colspan="3" align="right"><b>Total:</b></td>
      <td><%= number_to_currency(cart.total_price) %></td>
    </tr>
  </table>

  <%= button_to 'Checkout', :action => :checkout %>

  <% form_remote_tag :url => {:action => :empty_cart} do %>
    <%= submit_tag "Empty cart" %>
  <% end  %>
<% end  %>